---
import Layout from '../layouts/Layout.astro'
import tailyUI from 'taily-ui'
---

<Layout
    title="Welcome to Brodly"
    description="Stylish, modern, high-secure and fully anonymous live streaming platform."
>
    <main class="select-none overflow-hidden">
        <fragment
            set:html={tailyUI.OpenSourcePromo({
                logo: '/favicon.svg',
                title: 'Brodly',
                color: 'warning',
                text: [
                    { type: 'default', value: 'Share' },
                    { type: 'primary', value: 'beautiful' },
                    {
                        type: 'default',
                        value: 'moments of your life to everyone with customizable real-time'
                    },
                    { type: 'secondary', value: 'broadcasts' }
                ],
                description: 'Stylish, modern, high-secure and fully anonymous live streaming platform.',
                button: {
                    title: 'Start broadcast',
                    link: '/'
                },
                github: 'https://github.com/nikdelvin/brodly'
            })}
        />
        <fragment
            id="kpi"
            set:html={tailyUI.KPICards({
                title: 'Capture moments with',
                color: 'warning',
                cards: [
                    { title: '30+', description1: 'customization', description2: 'themes' },
                    { title: '2-4', description1: 'streamers', description2: 'broadcasts' },
                    { title: '100', description1: 'percent safe', description2: 'meetings' },
                    { title: 'Chat', description1: 'with smart AI', description2: 'moderation' }
                ],
                button: {
                    title: 'Take a shot',
                    link: '/'
                }
            })}
        />
    </main>
</Layout>
